<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::head('试剂库存管理')">
    <meta charset="UTF-8">
    <title>出库列表</title>
</head>
<body>
<div id="app" style="min-height: 700px;">
    <el-card shadow="always">
    <el-row>
        <el-button type="primary" icon="el-icon-refresh-left" size="mini" round @click="refresh">刷新</el-button>
    </el-row>
    </el-card>
    <el-card shadow="always">
        <el-tabs tab-position="top" v-model="activeName" @tab-click="tabClick">
            <el-tab-pane v-for="(r,i) in reagents" :key="r.reagentId" :name="r.reagentId+''" :label="r.reagentName">
                <span slot="label">{{r.reagentName}}  <el-badge :value="r.stock" :max="100" style="margin-top: 10px;"></el-badge></span>
                    <el-form :inline="true" :model="queryForm" class="demo-form-inline">
                        <el-form-item label="出入库">
                            <el-select v-model="queryForm.delFlg" placeholder="出入库">
                                <el-option label="全部" value="" selected></el-option>
                                <el-option label="出库" value="1" ></el-option>
                                <el-option label="入库" value="0"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" icon="el-icon-search">查询</el-button>
                        </el-form-item>
                    </el-form>
                </el-row>
                <el-row v-if="activeName==r.reagentId+''">
                    <el-button type="primary" @click="toAdd" icon="el-icon-plus">增加出入库信息</el-button>
                </el-row>
                <el-card shadow="always">
                    <el-table
                            :data="tableData"
                            stripe
                            border
                            style="width: 100%">
                        <el-table-column
                                width="50px"
                                align="center"
                                label="序号"
                                type="index"
                                :index="indexMethod">
                        </el-table-column>
                        <el-table-column
                                label="试剂名称"
                                prop="reagentName">
                        </el-table-column>
                        <el-table-column
                                label="出库\入库"
                                prop="stockType"
                                :formatter="formatStockType">
                        </el-table-column>
                        <el-table-column
                                label="数量"
                                prop="num">
                        </el-table-column>
                        <el-table-column
                                label="操作人"
                                prop="operator">
                        </el-table-column>
                        <el-table-column
                                label="创建时间"
                                prop="createTime">
                        </el-table-column>
                        <el-table-column
                                label="操作" width="200px">

                            <template slot-scope="scope">
                                <el-button size="mini"
                                           type="danger"
                                           @click="toDelete(scope.$index, scope.row)" icon="el-icon-delete">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-tab-pane>
        </el-tabs>
    </el-card>
    <!--新增/编辑弹框-->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" @close="dialogClose">
        <el-form :model="dialogData" ref="forms" :rules="rules">
            <el-form-item label="试剂名称" :label-width="formLabelWidth" prop="reagentName">
                <el-input v-model="dialogData.reagentName" autocomplete="off" readonly></el-input>
            </el-form-item>
            <el-form-item label="出入库类型" :label-width="formLabelWidth" prop="stockType">
                <el-radio v-model="dialogData.stockType" label="0">出库</el-radio>
                <el-radio v-model="dialogData.stockType" label="1">入库</el-radio>
            </el-form-item>
            <el-form-item label="数量" :label-width="formLabelWidth" prop="num">
                <el-input-number v-model="dialogData.num" :min="1" :max="1000" :step="1" label="数量"></el-input-number>
            </el-form-item>
            <el-form-item label="操作人" :label-width="formLabelWidth" prop="operatorId">
                <el-select v-model="dialogData.operatorId" filterable placeholder="请选择操作人" @change="operatorChang">
                    <el-option v-for="(r,i) in operator" :key="r.id+''" :label="r.name" :value="r.id+''"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogCancel">取 消</el-button>
            <el-button type="primary" @click="dialogSubmit">提 交</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script th:inline="javascript">

    var ctp= /*[[@{/}]]*/ "/";

    new Vue({
        el: '#app',
        data: function () {
                return {
                    reagents:[],
                    activeName:'',
                    reagentName:'',
                    queryForm:{

                    },
                    tableData:[],
                    stockDetail:{
                        id:'',
                        reagentId:'',
                        reagentName:'',
                        stockType:'',
                        num:0,
                        operator:'',
                        operatorId:'',
                        createTime:'',
                    },
                    dialogFormVisible:false,
                    dialogTitle: '新增出入库信息',
                    dialogData:{
                        id:'',
                        reagentId:'',
                        reagentName:'',
                        stockType:'0',
                        num:'',
                    },
                    formLabelWidth: '120px',
                    rules:{
                        num:[{required: true, message: '请输入数量', trigger: 'blur'}],
                        operatorId:[{required: true, message: '请选择操作人', trigger: 'blur'}],
                        stockType:[{required: true, message: '请选择出入库类型', trigger: 'blur'}],

                    },
                    operator:[],
                    user:{},
                }
            },
        created: function(){
            let that = this;
            that.queryUser();
            that.refresh();

        },
        methods: {

            //刷新数据
            refresh:function(reagentId){
                let that = this;
                axios.get(ctp+"stock/getStock")
                    .then((response)=>{
                        let code = response.data.code;
                        if(code == "200"){
                            that.reagents = response.data.data;
                            if(that.reagents.length>0 && !reagentId){

                                that.activeName = that.reagents[0].reagentId+""
                                that.reagentName = that.reagents[0].reagentName;
                            }
                        }
                    }).catch((error)=>{
                    that.$message({
                        type: 'error',
                        message: '查询失败!'+error
                    });
                })
            },
            tabClick:function(e){
                this.reagentName = e.label;
            },
            formatStockType:function(row,column,cellValue){
                return '';
            },
            toDelete:function(index, row){

            },
            indexMethod:function(index){

                return index+1;
            },
            toAdd:function(){
                let that = this;
                that.dialogFormVisible=true;
                //默认出库
                that.dialogData.stockType="0";
                that.dialogData.reagentId = that.activeName;
                that.dialogData.reagentName = that.reagentName;

            },
            dialogClose:function(){
                let that = this;
                that.$refs["forms"].resetFields();
                //默认出库
                that.dialogData.stockType="0";
                that.dialogData.reagentId = '';
                that.dialogData.reagentName = '';
            },
            dialogCancel:function(){
                let that = this;
                that.dialogFormVisible = false
                that.$refs["forms"].resetFields();
                //默认出库
                that.dialogData.stockType="0";
                that.dialogData.reagentId = '';
                that.dialogData.reagentName = '';

            },
            dialogSubmit:function(){
                let that = this;
                let valResult = false;
                that.$refs["forms"].validate((valid)=>{
                    if(valid){
                        valResult =  true;
                    }
                });
                if(!valResult){
                    return;
                }
                that.$confirm('确定要提交吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    that.dialogData.operatorName = that.user[that.dialogData.operatorId]
                    axios.post(ctp + "stock/save", that.dialogData)
                        .then((response)=>{
                            let code = response.data.code;
                            if(code == "200"){
                                that.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });

                                that.dialogFormVisible = false
                                that.$refs["forms"].resetFields();
                                //默认出库
                                that.dialogData.stockType="0";
                                that.dialogData.reagentId = '';
                                that.dialogData.reagentName = '';

                                that.refresh(that.activeName);

                            }else{
                                let msg = response.data.msg;
                                that.$message({
                                    type: 'error',
                                    message: '保存失败!'+msg
                                });
                            }
                    }).catch((error)=>{
                        that.$message({
                            type: 'error',
                            message: '保存失败!'+error
                        });
                    });
                })
            },
            queryUser:function(){
                let that = this;
                axios.post(ctp+"user/query",{"delFlg":"1"})
                    .then((response)=>{
                        let code = response.data.code;
                        if(code == "200"){
                            that.operator=response.data.data;
                            that.operator.forEach(e=>{
                                that.user[e.id] = e.name;
                            });

                        }else{
                            that.$message({
                                type: 'error',
                                message: '获取操作人信息失败!'
                            });
                        }
                    }).catch((error)=>{
                        that.$message({
                            type: 'error',
                            message: '获取操作人信息失败!'+error
                        });
                });
            },
            operatorChang: function(e){
                console.log(e);
            }
        },
    });
</script>
</html>