<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::head('用户管理')">
    <meta charset="UTF-8"/>
    <title>用户列表页</title>
</head>
<body>
<div id="app">
    <el-card shadow="always">
        <el-form :inline="true" :model="queryForm" class="demo-form-inline">
            <el-form-item label="用户名称">
                <el-input v-model="queryForm.name" placeholder="用户名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="search">查询</el-button>
            </el-form-item>
        </el-form>
        <el-row>
            <el-button type="primary" @click="toAdd" icon="el-icon-plus">新增</el-button>
        </el-row>
        <el-table
                :data="tableData"
                stripe
                border
                style="width: 100%">
            <el-table-column
                    width="50px"
                    align="center"
                    label="序号"
                    type="index"
                    :index="indexMethod">
            </el-table-column>
            <el-table-column
                    label="用户名"
                    prop="name">
            </el-table-column>
            <el-table-column
                    label="状态"
                    prop="delFlg"
                    :formatter="formatDelFlg">
            </el-table-column>
            <el-table-column
                    label="操作" width="200px">

                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="toEdit(scope.$index, scope.row)" icon="el-icon-edit">编辑</el-button>
                    <el-button v-if="scope.row.delFlg == '1'"
                               size="mini"
                               type="danger"
                               @click="toDelete(scope.$index, scope.row)" icon="el-icon-delete">删除</el-button>
                    <el-button v-if="scope.row.delFlg != '1'"
                               size="mini"
                               type="warning"
                               @click="toRecovery(scope.$index, scope.row)" icon="el-icon-refresh-left">恢复</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--新增/编辑弹框-->
        <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" @close="dialogClose">
            <el-form :model="dialogData" ref="forms" :rules="rules">
                <el-form-item label="用户名称" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="dialogData.name" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogCancel">取 消</el-button>
                <el-button type="primary" @click="dialogSubmit">提 交</el-button>
            </div>
        </el-dialog>
    </el-card>
</div>
</body>
<script th:inline="javascript">

    var ctp= /*[[@{/}]]*/ "/";
    new Vue({
        el: '#app',
        data: function () {
            return {
                queryForm: {
                    name: '',
                },
                tableData: [],
                dialogFormVisible: false,
                dialogTitle: '',
                formLabelWidth: '120px',
                dialogData: {
                    id:'',
                    name:'',
                    delFlg:'',
                },
                rules:{
                    name:[{required: true, message: '请输入用户名', trigger: 'blur'}]
                },
                delFlg:{"0":"已删除","1":"正常"},
            }
        },
        created: function(){
            console.log("created执行")
            this.search();
        },
        methods: {

            indexMethod:function(index){

                return index+1;
            },
            toEdit(index, row) {
                console.log(index, row);
                let that = this;
                that.dialogFormVisible=true;
                that.dialogTitle = "编辑试剂信息";

                that.dialogData.id=row.id;
                that.dialogData.reagentName = row.reagentName;
                that.dialogData.remark = row.remark;
                that.dialogData.orderNum = row.orderNum;
            },
            toDelete(index, row) {
                let that = this;
                that.$confirm('确定要删除吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    axios.delete(ctp+"reagent/delete/"+row.id)
                        .then((response)=>{
                            let code = response.data.code;
                            if(code == "200"){
                                that.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });

                            }else{
                                let msg = response.data.msg;
                                that.$message({
                                    type: 'error',
                                    message: '删除失败!'
                                });
                            }
                            //刷新列表
                            that.search();
                        }).catch((error)=>{
                        let msg = response.data.msg;
                        that.$message({
                            type: 'error',
                            message: '删除失败!:'+error
                        });
                    });
                });
            },
            toRecovery(index, row){
                let that = this;
                that.$confirm('确定要恢复吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    axios.get(ctp+"reagent/recovery/"+row.id)
                        .then((response)=>{
                            let code = response.data.code;
                            if(code == "200"){
                                that.$message({
                                    type: 'success',
                                    message: '恢复成功!'
                                });

                            }else{
                                let msg = response.data.msg;
                                that.$message({
                                    type: 'error',
                                    message: '恢复失败!'+msg
                                });
                            }
                            //刷新列表
                            that.search();
                        }).catch((error)=>{
                        that.$message({
                            type: 'error',
                            message: '恢复失败!:'+error
                        });
                    });
                });
            },
            //打开新增页面
            toAdd(){
                let that = this;

                that.dialogTitle = "新增试剂信息";
                that.dialogData.id = "";
                that.dialogData.orderNum = 1;
                that.dialogData.reagentName = "";
                that.dialogData.remark = "";

                that.dialogFormVisible=true;

            },
            search(){
                let that = this;
                axios.post(ctp+"user/query",that.queryForm).then((response)=>{
                    let code = response.data.code;
                    if(code == "200"){
                        that.tableData = response.data.data;
                    }else{
                        let msg = response.data.msg
                        that.$message({
                            type: 'error',
                            message: '查询异常！:'+msg
                        });
                    }
                }).catch((error)=>{
                    that.$message({
                        type: 'error',
                        message: '查询异常！:'+error
                    });
                })
            },
            //弹出框提交按钮
            dialogSubmit(){
                let that = this;
                let valResult = false;
                that.$refs["forms"].validate((valid)=>{
                    if(valid){
                        valResult =  true;
                    }
                });
                if(!valResult){
                    return;
                }
                that.$confirm('确定要提交本次修改吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log(that.dialogData)
                    axios.post(ctp+"user/save",that.dialogData)
                        .then((response)=>{
                            let code = response.data.code;
                            if(code == "200"){
                                that.dialogFormVisible = false
                                that.$message({
                                    type: 'success',
                                    message: '提交成功!'
                                });
                            }else{
                                let msg = response.data.msg;
                                that.$message({
                                    type: 'error',
                                    message: msg
                                });
                            }
                            //刷新
                            that.search();
                        })
                        .catch((error)=>{
                            that.$message({
                                type: 'error',
                                message: error
                            });
                            //刷新
                            that.search();
                        })

                }).catch((error) => {
                    that.$message({
                        type: 'info',
                        message: error
                    });
                });

            },
            //弹出框取消按钮
            dialogCancel(){
                let that = this;
                that.dialogFormVisible = false
                that.$refs["forms"].resetFields();
            },
            dialogClose(){
                let that = this;
                that.$refs["forms"].resetFields();
            },
            formatDelFlg(row,column,cellValue){
                let text = this.delFlg[cellValue];
                if(!text){
                    text = "-";
                }
                return text;
            },
        },
    });
</script>
</html>