<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylv.modules.stock.mapper.StockDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylv.modules.stock.bean.StockDetail">
        <id column="id" property="id" />
        <result column="reagent_id" property="reagentId" />
        <result column="reagent_name" property="reagentName" />
        <result column="stock_type" property="stockType" />
        <result column="num" property="num" />
        <result column="operator" property="operator" />
        <result column="operator_id" property="operatorId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reagent_id, reagent_name, stock_type,num,operator,operator_id,create_time
    </sql>

</mapper>
